<div>
  <div class="header">
      <div class="pull-left">
         <!--  <a href="index.html"><img src=""></a> -->
      </div>
      <div class="pull-right userInfo">
          <div class="select">
              <div class="dropdown-toggle user-select" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="user-name">admin</span>
              </div>
              <ul class="dropdown-menu menu">
                  <li><a href="#" class="logout">退出</a></li>
              </ul>
          </div>
      </div>
</div>
  <app-menu class="menu-content"></app-menu>
  <div class="dashboard-content">
    <router-outlet></router-outlet>
  </div>
</div>
